.resistration-form, .login-form
{
    width: 900px;
    margin: auto;
    border-radius: 20px;
    padding: 10px 10px 30px;
    /* border: 2px solid red; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-form{
    margin-top: 100px;
}

h2{
    text-align: center;
    font-weight: 1500;
}
.submit-btn
{
    text-align: center; 
}
#signup-success-alert, #signup-failure-alert
{
    display: none;
}
#login-success-alert, #login-failure-alert
{
    display: none;
}